html{
  background-color: black;
}

@font-face {
font-family: 'Lovelo', monospace;
src: url('lovelo-black.eot') format('embedded-opentype'),
     url('lovelo-black.woff') format('woff'),
     url('lovelo-black.ttf')  format('truetype'),
     url('lovelo-black.svg') format('svg');
}
