html{
  background-color: black;
}

@font-face {
  font-family: 'Lovelo Black', monospace;
  src: url('Lovelo Black.otf');
}

@font-face {
  font-family: 'plexifont', monospace;
  src: url('plexifont.ttf');
}
