@font-face {
  font-family: 'Lovelo Black', monospace;
  src: url('Lovelo Black.otf');
}

@font-face {
  font-family: 'plexifont', monospace;
  src: url('plexifont.ttf');
}

.App {
}

.logo {
  color: white;
  font-family: Plexifont BV, monospace;
  font-size: 3em;
  margin-left:1em;
  margin-top: 1em;
}
