.App {
  /* text-align: center; */
  color: blue;
  /* background-color: red; */
}

.header h2 {
  color: white;
  font-family: Plexifont BV,monospace;
  font-size: 3em;
  margin-left:0.5em;
}

.nameInput{
  color:white;
}

.nameInput h3 {
font-family: Lovelo, monospace;
font-size: 2em;
line-height: 1.2em;
}

.nameInput p {
font-family: Lovelo, monospace;
font-size: 0.9em;
}

.nameOutput{
  color: white;
  font-family: Lovelo, monospace;
}
.nameOutput h1 {
  color:red;
  font-family: Lovelo, monospace;
}
